* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

/* Header Nav styling */

header {
  background-color: antiquewhite;
}

header div ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
}

header div ul li {
  margin: 0px;
  padding: 0px;
}

header div ul li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Hero banner styling */

/* <!-- about me --> */

/* <!-- portfolio container --> */

/*     <!-- contact --> */